<div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="pocaNav">

        <!-- Logo -->
        <a class="nav-brand" href="/"><img src="/img/core-img/logo.png" height="20" width="200" alt="DCTalkRadio"></a>

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">

            <!-- Menu Close Button -->
            <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
            <ul id="nav">
                <li><a id="homelink" href="/">Home</a></li>
                <li><a id="podcastslink" href="podcasts?recent=true">Podcasts</a></li>
                <li><a id="aboutlink" href="about">About</a></li>
                <!-- <li><a href="#">BlogSpot</a> -->
                <!-- <ul class="dropdown">
                    <li><a href="blog?category=business">- Business</a></li>
                    <li><a href="blog?category=health">- Health</a></li>
                    <li><a href="blog?category=politics">- Politics</a></li>
                    <li><a href="blog?category=entertainment">- Entertainment</a></li>
                </ul> -->
                <!-- </li> -->
                <li><a id="contactlink" href="contact-us">Contact</a></li>
            </ul>

            <!-- Top Search Area -->
            <div class="top-search-area">
                <form action="index.html" method="post">
                <input disabled type="search" name="top-search-bar" class="form-control" placeholder="">
                <!-- <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button> -->
                </form>
            </div>

            <!-- Top Social Area -->
            <div class="top-social-area">
                <a href="https://www.facebook.com/DCTalkRadio" target="_blank" class="fa fa-facebook" aria-hidden="true"></a>
                <a href="https://twitter.com/DC_TalkRadio?s=08" target="_blank" class="fa fa-twitter" aria-hidden="true"></a>
                <!-- <a href="#" class="fa fa-pinterest" aria-hidden="true"></a> -->
                <a href="https://www.instagram.com/dc_talkradio" target="_blank" class="fa fa-instagram" aria-hidden="true"></a>
                <!-- <a href="#" class="fa fa-youtube-play" aria-hidden="true"></a> -->
            </div>

            </div>
            <!-- Nav End -->
        </div>
        </nav>
    </div>
</div>