<div class="welcome-slides owl-carousel">

        <!-- Single Welcome Slide -->
        <div class="welcome-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12">
                <!-- Welcome Text -->
                <div class="welcome-text">
                  <h2 data-animation="fadeInUp" data-delay="70ms">DC Talk Radio 90.9FM</h2>
                  <h5 data-animation="fadeInUp" data-delay="150ms">Your Issue Our Concern</h5>
                  <div class="welcome-btn-group">
                    <a href="#newsletter" class="btn poca-btn m-2 ml-0 active" data-animation="fadeInUp" data-delay="200ms">Subscribe For Our Daily Newsletter</a>
                    <a href="/contact-us?reason=show" class="btn poca-btn btn-2 m-2" data-animation="fadeInUp" data-delay="700ms">Want to be A Guest on Our Show?</a>
                  </div>
                </div>
                <!-- Welcome Music Area -->
                <div class="poca-music-area mt-100 d-flex align-items-center flex-wrap" data-animation="fadeInUp" data-delay="100ms">
                  <div class="poca-music-thumbnail">
                    <img src="img/dctalkradio/shasho-front.jpg" alt="">
                  </div>
                  <div class="poca-music-content">
                    <span class="music-published-date" id="main-date-today"></span>
                    <h2 id="current-show">Stream Live DCTalkRadio 90.0FM</h2>
                    <div class="music-meta-data">
                      <p>Powered By <a href="#" class="music-author">MicroTech</a> | <a href="#" class="music-catagory">DCTalkRadio90.9FM</a> | <a href="#" class="music-duration"> - </a></p>
                    </div>
                    <!-- Music Player -->
                    <div class="poca-music-player">
                      <audio controls>
                        <source src="http://icecast:icecast@192.168.1.91:8000/dctalkradio-main-stream.mp3">
                      </audio>
                    </div>
                    <!-- Likes, Share & Download -->
                    <!-- <div class="likes-share-download d-flex align-items-center justify-content-between">
                      <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                      <div>
                        <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                        <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Single Welcome Slide -->
        <div class="welcome-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/2.jpg);">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12">
                <!-- Welcome Text -->
                <div class="welcome-text">
                  <h2 data-animation="fadeInUp" data-delay="100ms">Listen Now</h2>
                  <h5 data-animation="fadeInUp" data-delay="300ms">"We Are A Family" - Baby Bwana</h5>
                  <div class="welcome-btn-group">
                    <a href="#" class="btn poca-btn m-2 ml-0 active" data-animation="fadeInUp" data-delay="500ms">Subscribe with Gwarvar Music</a>
                    <a href="#" class="btn poca-btn btn-2 m-2" data-animation="fadeInUp" data-delay="700ms">Subscribe with Cynojine</a>
                  </div>
                </div>
                <!-- Welcome Music Area -->
                <div class="poca-music-area mt-100 d-flex align-items-center flex-wrap" data-animation="fadeInUp" data-delay="900ms">
                  <div class="poca-music-thumbnail">
                    <img src="./img/bg-img/4.jpg" alt="">
                  </div>
                  <div class="poca-music-content">
                    <span class="music-published-date" id="main-date-today">January 18, 2019</span>
                    <h2 id="current-show">Stream Live DCTalkRadio 90.0FM</h2>
                    <div class="music-meta-data">
                      <p>By <a href="#" class="music-author">Baby Bwana</a> | <a href="#" class="music-catagory">MicroTech</a> | <a href="#" class="music-duration">Live</a></p>
                    </div>
                    <!-- Music Player -->
                    <div class="poca-music-player">
                      <audio controls>
                        <source src="http://icecast:icecast@192.168.1.91:8000/dctalkradio-main-stream.mp3">
                      </audio>
                    </div>
                    <!-- Likes, Share & Download -->
                    <!-- <div class="likes-share-download d-flex align-items-center justify-content-between">
                      <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                      <div>
                        <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                        <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Single Welcome Slide -->
        <div class="welcome-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/3.jpg);">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12">
                <!-- Welcome Text -->
                <div class="welcome-text">
                  <h2 data-animation="fadeInUp" data-delay="100ms">The BreakFast Direct</h2>
                  <h5 data-animation="fadeInUp" data-delay="300ms">"It's Not What You Say, It's How You Say It" - Lord Wapi</h5>
                  <div class="welcome-btn-group">
                    <a href="#" class="btn poca-btn m-2 ml-0 active" data-animation="fadeInUp" data-delay="500ms">Subscribe To Our Daily Newsletter</a>
                    <a href="#" class="btn poca-btn btn-2 m-2" data-animation="fadeInUp" data-delay="700ms">Subscribe To Our Podcasts</a>
                  </div>
                </div>
                <!-- Welcome Music Area -->
                <div class="poca-music-area mt-100 d-flex align-items-center flex-wrap" data-animation="fadeInUp" data-delay="900ms">
                  <div class="poca-music-thumbnail">
                    <img src="img/dctalkradio/shasho-front.jpg" alt="">
                  </div>
                  <div class="poca-music-content">
                    <span class="music-published-date">January 18, 2019</span>
                    <h2>Episode 4 - </h2>
                    <div class="music-meta-data">
                      <p>By <a href="#" class="music-author">Major</a> | <a href="#" class="music-catagory">MicroTech</a> | <a href="#" class="music-duration">00:30:56</a></p>
                    </div>
                    <!-- Music Player -->
                    <div class="poca-music-player">
                      <audio controls>
                        <source src="http://icecast:icecast@192.168.1.91:8000/dctalkradio-main-stream.mp3">
                      </audio>
                    </div>
                    <!-- Likes, Share & Download -->
                    <div class="likes-share-download d-flex align-items-center justify-content-between">
                      <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                      <div>
                        <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                        <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>